<div class="card"> 
    <h2> Edit this todo </h2>
    <form action="#"> 
        <input class= "text-input" type= "text" id= "Newtodoblock2"> 
        <input class= "text-input" type= "number" id= "Newtodoblock3" >
        <input class= "Button" type= "submit" id= "Newtodoblock4" value= "Edit To DO" >
        <a herf= "/todo/index" class= "simple-link"> Go Back </a>
    </form>
</div>