 <div id="Newtodoblock"> 
            <input class= "text-input" type= "text" id= "Newtodoblock2"> 
            <input class= "text-input" type= "number" id= "Newtodoblock3" >
            <input class= "text-input" type= "submit" id= "Newtodoblock4" value= "ENTER" >
        </div>
   <img src= "New Folder/methMcQueen.jpg" alt= "boi" >
     <link rel= "Colors" href= "Colors.css">
     <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
     <script type= "text/javascript" src= "index.js"></script>
     <Blockquote> 
         <div2> 
             <h1> 
                 <a13>
             To Do List
                 </a13>
             </h1> 
         </div2> 
     </Blockquote>
     <body style= "background-color: #00FF00 ;"> 
     <ul>
  <li>
        <a9> 
            1
        </a9>
   <input type= "checkbox"> Take out the trash 
      <a8 class= "boi"> 
      2 Pomodoros 
      </a8>
  </li>  
  <div1> 
      <small>
          The trash bin is outside in
      </small>
  </div1>
      <li> 
          <a7>
              2
          </a7>
   <input type= "checkbox"> Clean the house 
          <a6 class= "boi"> 
      1 Pomodoros 
          </a6>
      </li>
    <div2>
        <small>
            Make sure it's <b> CLEAN </b>
        </small>
    </div2>
     <li>
      <a5>
          3
      </a5>
   <input type= "checkbox"> Go to the gym 
         <a4 class= "boi"> 
      5 Pomodoros 
         </a4>
     </li>
    <div2>
        <small>
            It's <b> leg </b> day
        </small>
    </div2>
    <li>
        <a1>
            4
        </a1>
        <input type= "checkbox"> Kill the cat
        <a3>
            3 Pomodoros
        </a3>
        <div>
            <small>
                Cut its head
            </small>
        </div>
    </li>
     </ul>